:root{
    --orange:#faaf40;
    --blue:#0070bb;
    --lightblue:#29abe1;
}

a,
a:hover {
    color:inherit;
}

a:hover {
    text-decoration: none;
}

.bg-lightblue {
    background: var(--lightblue);
}

.bg-orange {
    color: var(--orange);
}

.container-fluid-max {
    max-width: 1440px;
}

.cover {
    background: no-repeat center/cover;
}

.p-15 {
    padding: 15px;
}

.scroll .page-header {
    background: var(--orange);
}

.page-header {
    transition:  0.5s ease-in-out;
}

.page-header .navbar{
    padding: 1rem 0;
}

.page-header .navbar-toggler {
    border-color: var(--white);
}

@media screen and (max-width: 991px) {
    .page-header{
        background: var(--orange);
    }
}